<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>게시판</title>
    </head>
    <body>
        <h1 th:text="${boardName}">
            게시판 이름
        </h1>
        <div th:each="article : ${articles}">
            <h3 th:text="${article.title}">
                제목
            </h3>

            <p>
                <span th:text="${article.author}">
                    작성자
                </span>

                <span th:text="${#temporals.format(article.createdAt, '| yyyy-MM-dd')}">
                    작성일
                </span>
            </p>

            <p th:text="${article.description}">
                내용
            </p>
            <hr>
        </div>
    </body>
</html>
